<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//fashiondrop.us12.list-manage.com/subscribe/post?u=e82b16ffd358768b6bfec61bd&amp;id=4c4416897c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Email to join the Drop" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_e82b16ffd358768b6bfec61bd_4c4416897c" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->