/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup{
  clear:left;
  margin: 20px auto 0;
  display: inline-block;

  form {
    display:block; position:relative;
  }

  label {
    display:block; 
    font-size:16px; 
    padding-bottom:10px; 
    font-weight:bold;

    &.error {
      display:block; 
      float:none; 
      width:auto; 
      margin-left:1.05em; 
      text-align:left; 
      padding:.5em 0;}
  }

  h2 {
    font-weight:bold; 
    padding:0; 
    margin:15px 0; 
    font-size:1.4em;
  }

  input {
    border: thin solid $COLOR_SECONDARY_BACKGROUND;
    -webkit-appearance:none;

    &[type=checkbox]{
      -webkit-appearance:checkbox;
    }
    
    &[type=radio]{
      -webkit-appearance:radio;
    }
    
    &:focus {
      border-color:#333;
    }

    &.email {
      text-indent: 5px;
      min-width: 200px;
      height: 4.6rem;
      font-size: 1.4rem;

      @media #{$desktop} {
        text-align: center;
      }
    }

    &.button {
      min-width:70px;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      height: 5rem;
      padding: 0 30px;
      background-color: $COLOR_ACCENT;
      color: $COLOR_PRIMARY_BACKGROUND;
      display: inline-block;
      vertical-align: top;
    }
  }
  
  .button {
    clear:both; 
    border: 0 none; 
    cursor: pointer; 
    display: inline-block; 
    font-size:15px; 
    font-weight: bold; 
    height: 32px;
    line-height: 32px; 
    margin: 0 5px 10px 0; 
    padding:0; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: top; 
    white-space: nowrap; 
    width: auto;
  }

  .small-meta {font-size: 11px;}

  .nowrap {white-space:nowrap;}     

  .clear {
    clear:none; 
    display: inline-block;
    margin-left: -2px;
    vertical-align: top;
  }

  div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}

  div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}

  #mce-error-response {display:none;}

  #mce-success-response {color:#529214; display:none;}
}









