<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="xxx">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>FASHION DROP</title>
  <script src="js/modernizr.js"></script>
  <script src="https://use.typekit.net/jxf3jbg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
  	<header  class="header">
      <div class="header__container">
        <h1>FASHION DROP</h1>
        <h2>AN EDIT OF THE NEWEST ARRIVALS EVERY 24 HOURS.</h2>
        <div class="sign-up"></div>
        <div class="date-selector">
          <a href="" class="date-selector__today">TUESDAY, NOVEMBER 3</a>
          <a href="" class="date-selector__yesterday"><span class="icon-arrow-left"></span> MON 11/2</a>
          
          <span class="date-selector__separator">|</span>
          <a href="" class="date-selector__tomorrow">WED 11/4 <span class="icon-arrow-right"></span></a>
        </div>
      </div>
    </header>
   
    <main class="main">
      <section class="trendy">
        <div class="trendy__items">
          
        </div>
        <h3>TRENDY TUESDAYS</h3>
        <h4>Our style and trend editors curate on Tuesdays for the trendiest items!</h4>
      </section>
      
      <section class="shop">
        <h3>TOPS</h3>
        <div class="shop__carousel"></div>

        <h3>BOTTOMS</h3>
        <div class="shop__carousel"></div>


        <h3>DRESSES</h3>
        <div class="shop__carousel"></div>


        <h3>SHOES</h3>
        <div class="shop__carousel"></div>


        <h3>ACCESSORIES</h3>
        <div class="shop__carousel"></div>

      </section>
      
      <section class="stay_in_touch">
        <h5>STAY IN TOUCH WITH THE HOTTEST STYLES AND TRENDS IN PUR DAILY EMAIL!</h5>
        <div class="sign-up"></div>
      </section>
    </main>

    <footer class="footer">
      <p>THIS IS A NEW IDEA BROUGHT TO YOU BY TIME INC. LABS. GOT A QUESTION FOR US? DROP US A NOTE: <a href="">INFO@TIMEINCLABS.COM</a>
      </p>

      <p><strong>WE WILL NOT PUBLISH, SHARE, OR SELL YOUR <br> EMAIL ADDRESS AT ANY TIME.</strong></p>

      <a href="">PRIVACY</a>

      <p class="text-inactive">&copy; 2015 TIME INC. LABS</p>
    </footer>
  </div>
	<script src="js/build.js"></script>
</body>
</html>